@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-kanit: 'Kanit', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-default: #0055FF;
  --color-brand-dark: #003399;
  --color-brand-light: #6699FF;
  --font-sans: var(--font-kanit);
  --font-heading: var(--font-poppins);
  --font-kanit: var(--font-kanit);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #ffffff;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
